* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 34px;
    border-bottom: 1px solid #E4E9F2;
}

.header-left {
    display: flex;
    gap: 56px;
    padding-top: 13px;

    img {
        width: 137px;
        height: 20px;
    }
}

.header-left-navBar {
    display: flex;
    gap: 32px;

    a {
        text-decoration: none;
        font-family: Kumbh Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}

/* .header-right {
    padding-bottom: 30px;
} */

.header-right .avatar {

    height: 50px;
    width: 50px;
    margin-left: 46px;


}

.header-right .shape {
    padding-bottom: 12px;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 90px;
}

.img-big {
    width: 445px;
    height: 565px;
    border-radius: 10px;
}

.hero-left-under {
    display: flex;
    gap: 31px;
    padding-top: 32px;

    img {
        width: 88px;
        height: 88px;
        border-radius: 8px;

    }

}

.hero-right {
    padding-top: 62px;

    h4 {
        font-family: Kumbh Sans;
        font-size: 13px;
        font-weight: 700;
        line-height: 16.12px;
        letter-spacing: 2px;
        text-align: left;
        color: #FF7E1B;
        text-transform: uppercase;

    }

    h1 {
        padding-top: 21px;
        font-family: Kumbh Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        color: #1D2026;

    }

    p {
        padding-top: 32px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}

.hero-right-pricing {
    display: flex;
    gap: 16px;
    /* margin-right: 272px; */
    padding-top: 24px;

    h3 {
        font-family: Kumbh Sans;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.73px;
        text-align: left;

    }

    h6 {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        color: #B6BCC8;
        margin-top: 10px;

    }



    a {
        /* margin-top: 30px; */
        margin-bottom: 50px;
        padding: 7px 8px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        color: #FF7E1B;
        background-color: #FFEEE2;
        border-radius: 6px;
        cursor: pointer;


    }

}

.hero-right-stock-addToCart {
    display: flex;
    padding-top: 32px;
    gap: 16px;

}

.stock {
    display: flex;
    background-color: #F6F8FD;
    margin-top: -15px;
    border-radius: 7px;


    a {
        font-family: Kumbh Sans;
        font-size: 25px;
        color: #FF7E1B;
        font-weight: 1000;
        padding-inline: 28px;
        padding-block: 9px;
        cursor: pointer;
    }

    h5 {
        font-size: 25px;
        font-weight: 1000;
        margin-top: 10px;
        /* padding: 28px 16px; */


    }

}



.basket {
    cursor: pointer;

    a {

        padding: 19px 76px;
        background-color: #FF7E1B;
        color: #FFFFFF;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        border-radius: 10px;
        box-shadow: 0px 20px 50px -20px #FF7E1B;
    }



    img {
        margin-right: 15px;
    }
}

.crossOut {
    text-decoration: line-through;
}