* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 34px;
    border-bottom: 1px solid #E4E9F2;
}

.header-left {
    display: flex;
    gap: 56px;
    padding-top: 13px;

    img {
        width: 137px;
        height: 20px;
    }
}

.header-left-navBar {
    display: flex;
    gap: 32px;

    a {
        text-decoration: none;
        font-family: Kumbh Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}

.header-right {
    position: relative;
}

.header-right .avatar {

    height: 50px;
    width: 50px;
    margin-left: 46px;


}

.header-right .shape {
    padding-bottom: 12px;
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 90px;
}

.img-big {
    width: 445px;
    height: 565px;
    border-radius: 10px;
}

.hero-left-under {
    display: flex;
    gap: 31px;
    padding-top: 32px;

    img {
        width: 88px;
        height: 88px;
        border-radius: 8px;

    }

}

.hero-right {
    padding-top: 62px;

    h4 {
        font-family: Kumbh Sans;
        font-size: 13px;
        font-weight: 700;
        line-height: 16.12px;
        letter-spacing: 2px;
        text-align: left;
        color: #FF7E1B;
        text-transform: uppercase;

    }

    h1 {
        padding-top: 21px;
        font-family: Kumbh Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        color: #1D2026;

    }

    p {
        padding-top: 32px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}

.hero-right-pricing {
    display: flex;
    gap: 16px;
    /* margin-right: 272px; */
    padding-top: 24px;

    h3 {
        font-family: Kumbh Sans;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.73px;
        text-align: left;

    }

    h6 {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        color: #B6BCC8;
        margin-top: 10px;

    }



    a {
        /* margin-top: 30px; */
        margin-bottom: 50px;
        padding: 7px 8px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        color: #FF7E1B;
        background-color: #FFEEE2;
        border-radius: 6px;
        cursor: pointer;


    }

}

.hero-right-stock-addToCart {
    display: flex;
    padding-top: 32px;
    gap: 16px;

}

.stock {
    display: flex;
    background-color: #F6F8FD;
    margin-top: -15px;
    border-radius: 7px;


    a {
        font-family: Kumbh Sans;
        font-size: 25px;
        color: #FF7E1B;
        font-weight: 1000;
        padding-inline: 28px;
        padding-block: 9px;
        cursor: pointer;
    }

    h5 {
        font-size: 25px;
        font-weight: 1000;
        margin-top: 10px;
        /* padding: 28px 16px; */


    }

}



.basket {
    cursor: pointer;

    a {

        padding: 19px 76px;
        background-color: #FF7E1B;
        color: #FFFFFF;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        border-radius: 10px;
        box-shadow: 0px 20px 50px -20px #FF7E1B;
    }



    img {
        margin-right: 15px;
    }
}

.crossOut {
    text-decoration: line-through;
}

.myDialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 210px;
    border-radius: 15px;
    background-color: #f99053;
    border: none;

    h1 {
        text-align: end;
        padding-right: 11px;
        padding-top: 5px;
        font-size: 20px;
        color: #fff;



    }

    h5 {
        text-align: center;
        margin-top: 50px;
        color: #fff;
        font-size: 20px;

    }
}

.myDialog-close-btn {
    cursor: pointer;
}

.shoppingBasket {
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    right: 40px;
    box-shadow: 0px 20px 50px -20px #1D202680;
    border-radius: 10px;


    h5 {
        padding: 24px 302px 27px 24px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        color: #1D2026;
        border-bottom: 1px solid #E4E9F2;

    }

    h3,
    h4,
    h6 {
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }

    h6 {
        font-weight: 700;
        color: #1D2026;

    }

    a {
        padding: 22px 120px;
        color: #fff;
        background-color: #FF7E1B;
        border-radius: 10px;
        font-family: Kumbh Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;


    }



}

.active {
    display: block;
}


.basketDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    img {
        border-radius: 5px;
    }

}

.shoppingBasket-one {
    display: flex;
    padding: 24px;
    gap: 16px;
}

.basketDetails-one-first {
    display: flex;
    gap: 10px;
}

.checkOut {
    padding: 24px 24px 52px 24px;
}

.shoppingCartimg {
    width: 50px;
    height: 50px;
}

.bin {
    margin-left: 90px;
    cursor: pointer;
}

.cartTotal {
    display: none;
    position: absolute;
    padding: 3px 6px;
    background-color: #FF7E1B;
    bottom: 28px;
    left: 10px;
    border-radius: 6.5px;
    color: #FFFFFF;
    font-weight: 700;

}


/*admin.html bolumu */

.formElements {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.formElements-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-inline: 25px;
    padding-right: 400px;

    input {
        width: 400px;
        padding-inline: 5px;
        padding-block: 10px;
    }
}

.submitBtn {
    display: flex;
    justify-content: end;
    padding-right: 400px;
    margin-top: 30px;

    button {
        font-family: Kumbh Sans;
        padding: 15px;
        border: none;
        background-color: #f99053;
        color: #FFFFFF;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;

    }
}


.admin-addToBasket {
    display: flex;
    justify-content: right;
    margin-right: 20px;

    button {
        padding: 10px;
        border: none;
        background-color: #f99053;
        color: #FFFFFF;
        border-radius: 5px;
        cursor: pointer;


    }

}


.adminProductList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    justify-content: center;



}