* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 34px;
    border-bottom: 1px solid #E4E9F2;
}

.header-left {
    display: flex;
    gap: 56px;
    padding-top: 13px;

    img {
        width: 137px;
        height: 20px;
    }
}

.header-left-navBar {
    display: flex;
    gap: 32px;

    a {
        text-decoration: none;
        font-family: Kumbh Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #69707D;

    }
}

/* .header-right {
    padding-bottom: 30px;
} */

.header-right .avatar {

    height: 50px;
    width: 50px;
    margin-left: 46px;


}

.header-right .shape {
    padding-bottom: 12px;
}

/* header end */


/* content */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;

    img {
        width: 100px;
        height: 130px;
    }

    a {
        margin-inline: auto;
        margin-top: 40px;
    }
}